{# blog/partials/comment_tree.html #}
<div class="media mb-4{% if comment.parent %} indented-comment{% endif %}" id="comment-{{ comment.id }}">
    {% if comment.user.profile.photo %}
        <img class="d-flex mr-3 rounded-circle" width="50px" height="50px" src="/media/{{ comment.user.profile.photo }}" alt="{{ comment.user.username }}">
    {% else %}
        <img class="d-flex mr-3 rounded-circle" width="50px" height="50px" src="/media/blog/avatars/noavatar.png" alt="{{ comment.user.username }}">
    {% endif %}
    <div class="media-body">
        <h5 class="mt-1 text-sm">{{ comment.user.username }} <small class="text-muted">{{ comment.created_at }}</small></h5>
        <div class="mt-2">{{ comment.comment |linebreaks }}</div>
        <button class="btn btn-sm btn-outline-secondary reply-button" data-comment-id="{{ comment.id }}">Responder</button>

        {# Formulario de respuesta en blog/partials/comment_tree.html #}
        <div id="reply-form-{{ comment.id }}" style="display: none; margin-top: 10px;">
            <form method="POST" action="{% url 'blog:save_reply' comment.id %}" id="reply-form-{{ comment.id }}-submit">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="comment" rows="2" placeholder="Responder"></textarea>
                </div>
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <button type="submit" class="btn btn-sm btn-primary">Enviar Respuesta</button>
            </form>
        </div>

        <div class="replies-container" id="replies-{{ comment.id }}"> {# Nuevo contenedor para las respuestas #}
            {% for reply in comment.replies.all %}
                {% include 'blog/partials/comment_tree.html' with comment=reply %}
            {% endfor %}
        </div>
    </div>
</div>