{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ project.translation.title|default:project.title }}{% endblock %}
{% block meta_description %}{{ project.translation.title|default:project.title }}{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1 class="text-white font-weight-black pt-3 mt-n5">{{ project.translation.title|default:project.title }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% if project.image %}
                <img class="img-fluid mb-4" src="{{ project.image.url }}" alt="{{ project.translation.title|default:project.title }}">
            {% endif %}
            <p>{{ project.translation.description|default:project.description|safe }}</p>
            {% if project.link %}
                <p><a class="btn btn-primary" href="{{ project.translation.link|default:project.link }}" target="_blank">{% trans "Visitar sitio web" %}</a></p>
            {% endif %}
            <p><a href="{% url 'portfolio:project_list' %}">{% trans "Volver a la lista de proyectos" %}</a></p>
        </div>
    </div>
{% endblock %}