{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Portafolio{% endblocktrans %}{% endblock %}
{% block meta_description %}{% blocktrans %}Explora mi portfolio de proyectos en tecnología de la información, desarrollo de software y soluciones Linux. Mira ejemplos de mi trabajo y experiencia.{% endblocktrans %}{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block background_webp_style %}
<style>
  .page-header {
    background-image: -webkit-image-set(url('{% static 'core/img/portfolio-bg.webp' %}') 1x) !important;
    background-image: image-set(url('{% static 'core/img/portfolio-bg.webp' %}') 1x) !important;
  }
</style>
{% endblock %}

{% block headers %}
<h1 class="text-white font-weight-black pt-3 mt-n5">{% trans "Portafolio" %}</h1>
<p class="lead text-white mt-3">{% trans "Aplicaciones" %}</p>
{% endblock %}

{% block content %}
    {% for project in projects %}
        <div class="row project">
            <div class="col-lg-3 col-md-4 offset-lg-1 mb-4">
                <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.translation.title|default:project.title }}">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title"><a href="{% url 'portfolio:project_detail' project.id %}">{{ project.translation.title|default:project.title }}</a></h2>
                <p>{{ project.translation.description|default:project.description|safe|truncatewords_html:15 }}</p>
                <p><a href="{% url 'portfolio:project_detail' project.id %}">{% trans "Ver detalles" %}</a></p>
            </div>
        </div>
        {% if not forloop.last %}
            <div class="border-bottom my-4"></div>
        {% endif %}
    {% empty %}
        <p>{% trans "No hay proyectos disponibles." %}</p>
    {% endfor %}
{% endblock %}