asgiref
astroid
beautifulsoup4
django-bootstrap5
django-environ
django-js-asset
isort
lazy-object-proxy
mccabe
pillow
pylint
pylint-django
pylint-plugin-utils
python-gettext
pytz
soupsieve
sqlparse
toml
wrapt
numpy
django-recaptcha
django-ckeditor-5
django-simple-captcha
gunicorn
pyOpenSSL
Werkzeug
mysqlclient
django-extensions
django-countries
requests
django-modeltranslation
requests

