{% extends "core/base.html" %}
{% load i18n %}
{% block title %}{% trans "Restablecer contraseña" %}{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
<h1 class="text-white font-weight-black">{% trans "Restablecer contraseña" %}</h1>
{% endblock %}
{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-body">
                    <p>{% trans "Introduce tu email y te enviaremos un enlace para restablecer tu contraseña." %}</p>
                    <form method="POST" action="{% url 'users:password_reset' %}">
                        {% csrf_token %}
                        <div class="input-group input-group-outline my-3">
                            <input type="email" name="email" class="form-control" placeholder="{% trans 'Correo electrónico' %}" required autofocus>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">{% trans "Enviar enlace" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}