{% extends "core/base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Registro{% endblocktrans %}{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
<h1 class="text-white font-weight-black pt-3 mt-n5">{% trans "Registrar una cuenta" %}</h1>
<p class="lead text-white mt-3"></p>
{% endblock %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-body">
                    <form class="form-signin" method="POST" action="{% url 'users:register' %}">
                        {% csrf_token %}
                        <div class="input-group input-group-outline my-3">
                            <label for="id_email" style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">{% trans "Correo electrónico" %}</label>
                            <input type="email" name="email" id="id_email" class="form-control" placeholder="{% trans 'Correo electrónico' %}" required autofocus>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label for="id_username" style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">{% trans "Nombre de usuario" %}</label>
                            <input type="text" name="username" id="id_username" class="form-control" placeholder="{% trans 'Nombre de usuario' %}" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label for="id_password" style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">{% trans "Contraseña" %}</label>
                            <input type="password" name="password" id="id_password" class="form-control" placeholder="{% trans 'Contraseña' %}" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label for="id_password_confirmation" style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">{% trans "Repetir contraseña" %}</label>
                            <input type="password" name="password_confirmation" id="id_password_confirmation" class="form-control" placeholder="{% trans 'Repetir contraseña' %}" required>
                        </div>
                        <div class="checkbox mb-3"></div>

                        <div class="mb-3">
                            {{ form.captcha }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">{% trans "Registrarse" %}</button>
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %}